<h1>Welcome</h1>
<h4>Welcome to BSP Social Entrepreneur Portal</h4>
<p>Share Your Vision with Us...</p>
<p>We will make your Vision Come True</p>
<p>Tell the world your <b>Story</b></p>
<p>We are eager to hear it :)</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i> Login with Google</a>
{{/if}}